$orange: #E65C43;
$headline: #F25C43;
$headlinetext: #FFF;
$lightgreybar: #F5F6F6;
$grayheadings: #666;
$charcoal: #30353d;

$webfont: 'Roboto';

$largeframe: 959px;
$mediumframe: 767px;
$smallframe: 459px;


$bg: "../images/bg.gif";
$logo: "../images/logo.png";
$sociamedia: "../images/social-media.png";
$socialplaceholder: "https://place-hold.it/150x36";
